In [1]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('stopwords')
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Birgit\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
#qa = pd.read_json("data/tokenized_qa.json.xz")
#jokes = pd.read_json("data/tokenized_jokes.json.xz")

In [2]:
qa = pd.read_json("data/tokenized_lemmatized_google_qa.json.xz")
jokes = pd.read_json("data/tokenized_lemmatized_jokes.json.xz")

In [3]:
qa

,text,word_tokenize,sent_tokenize,lemmatize
0,Which is the most common use of opt-in e-mail ...,"[Which, is, the, most, common, use, of, opt-in...",[Which is the most common use of opt-in e-mail...,"[which, is, the, most, common, use, of, opt-in..."
1,How i.met your mother who is the mother? Tracy...,"[How, i.met, your, mother, who, is, the, mothe...","[How i.met your mother who is the mother?, Tra...","[how, i.met, your, mother, who, is, the, mothe..."
2,Who is deputy cm of j and k? Deputy chief mini...,"[Who, is, deputy, cm, of, j, and, k, ?, Deputy...","[Who is deputy cm of j and k?, Deputy chief mi...","[who, is, deputy, cm, of, j, and, k, ?, deputy..."
3,Who played the bank robber in dirty harry? Dir...,"[Who, played, the, bank, robber, in, dirty, ha...","[Who played the bank robber in dirty harry?, D...","[who, played, the, bank, robber, in, dirty, ha..."
4,What type of oxide are formed when metal combi...,"[What, type, of, oxide, are, formed, when, met...",[What type of oxide are formed when metal comb...,"[what, type, of, oxide, are, formed, when, met..."
...,...,...,...,...
307368,What channel is the audience network on comcas...,"[What, channel, is, the, audience, network, on...",[What channel is the audience network on comca...,"[what, channel, is, the, audience, network, on..."
307369,When does the crisis of a shakespearean romanc...,"[When, does, the, crisis, of, a, shakespearean...",[When does the crisis of a shakespearean roman...,"[when, doe, the, crisis, of, a, shakespearean,..."
307370,Who plays henry mills on once upon a time? Hen...,"[Who, plays, henry, mills, on, once, upon, a, ...","[Who plays henry mills on once upon a time?, H...","[who, play, henry, mill, on, once, upon, a, ti..."
307371,Name of a body in orbit around sun. A small so...,"[Name, of, a, body, in, orbit, around, sun, .,...","[Name of a body in orbit around sun., A small ...","[name, of, a, body, in, orbit, around, sun, .,..."
307372,Who played the blind girl in fantastic four? A...,"[Who, played, the, blind, girl, in, fantastic,...","[Who played the blind girl in fantastic four?,...","[who, played, the, blind, girl, in, fantastic,..."

In [4]:
jokes

,text,score,word_tokenize,sent_tokenize,lemmatize
0,"I'm on a seafood diet... I see food, and if it...",1,"[I, 'm, on, a, seafood, diet, ..., I, see, foo...","[I'm on a seafood diet..., I see food, and if ...","[i, 'm, on, a, seafood, diet, ..., i, see, foo..."
1,The shoe store... An Al Bundy one-liner:\n\nA ...,1,"[The, shoe, store, ..., An, Al, Bundy, one-lin...",[The shoe store... An Al Bundy one-liner:\n\nA...,"[the, shoe, store, ..., an, al, bundy, one-lin..."
2,What do you say to a veteran prostitute after ...,1,"[What, do, you, say, to, a, veteran, prostitut...",[What do you say to a veteran prostitute after...,"[what, do, you, say, to, a, veteran, prostitut..."
3,Confused man sees a psychiatrist A man goes to...,1,"[Confused, man, sees, a, psychiatrist, A, man,...",[Confused man sees a psychiatrist A man goes t...,"[confused, man, see, a, psychiatrist, a, man, ..."
4,Teabags have fought back! Humans have been ens...,1,"[Teabags, have, fought, back, !, Humans, have,...","[Teabags have fought back!, Humans have been e...","[teabags, have, fought, back, !, human, have, ..."
...,...,...,...,...,...
772973,Why is gambling not allowed in Africa? Because...,34,"[Why, is, gambling, not, allowed, in, Africa, ...","[Why is gambling not allowed in Africa?, Becau...","[why, is, gambling, not, allowed, in, africa, ..."
772974,"A man camped in a national park, and noticed M...",13,"[A, man, camped, in, a, national, park, ,, and...","[A man camped in a national park, and noticed ...","[a, man, camped, in, a, national, park, ,, and..."
772975,What does the H stand for in Jesus H Christ? [...,1,"[What, does, the, H, stand, for, in, Jesus, H,...","[What does the H stand for in Jesus H Christ?,...","[what, doe, the, h, stand, for, in, jesus, h, ..."
772976,What is the only thing a woman can say that wi...,21,"[What, is, the, only, thing, a, woman, can, sa...",[What is the only thing a woman can say that w...,"[what, is, the, only, thing, a, woman, can, sa..."
772977,I hope you're all getting your Walter Cronkite...,8,"[I, hope, you, 're, all, getting, your, Walter...",[I hope you're all getting your Walter Cronkit...,"[i, hope, you, 're, all, getting, your, walter..."

In [3]:
new_jokes = {}

for i, row in jokes.iterrows():
    #joke = row['joke']
    joke = row['text']
    if "?" in joke:
        new_jokes[i] = {'text': joke, 'word_tokenize': row['word_tokenize'], 'sent_tokenize': row['sent_tokenize'], 'lemmatize': row['lemmatize'], 'score': row['score']}

In [4]:
question_jokes = pd.DataFrame(new_jokes).T

In [5]:
question_jokes.head()

,text,word_tokenize,sent_tokenize,lemmatize,score
2,What do you say to a veteran prostitute after ...,"[What, do, you, say, to, a, veteran, prostitut...",[What do you say to a veteran prostitute after...,"[what, do, you, say, to, a, veteran, prostitut...",1
4,Teabags have fought back! Humans have been ens...,"[Teabags, have, fought, back, !, Humans, have,...","[Teabags have fought back!, Humans have been e...","[teabags, have, fought, back, !, human, have, ...",1
5,Why didn't the chicken cross the road ??? . ...,"[Why, did, n't, the, chicken, cross, the, road...","[Why didn't the chicken cross the road ???, .,...","[why, did, n't, the, chicken, cross, the, road...",1
6,"What starts with E, ends with E, and has only ...","[What, starts, with, E, ,, ends, with, E, ,, a...","[What starts with E, ends with E, and has only...","[what, start, with, e, ,, end, with, e, ,, and...",1
7,Teabags have fought back! Humans have been ens...,"[Teabags, have, fought, back, !, Humans, have,...","[Teabags have fought back!, Humans have been e...","[teabags, have, fought, back, !, human, have, ...",1

In [6]:
question_jokes.shape

(412893, 5)

In [7]:
question_jokes.index = list(range(question_jokes.shape[0]))

In [8]:
question_jokes.head()

,text,word_tokenize,sent_tokenize,lemmatize,score
0,What do you say to a veteran prostitute after ...,"[What, do, you, say, to, a, veteran, prostitut...",[What do you say to a veteran prostitute after...,"[what, do, you, say, to, a, veteran, prostitut...",1
1,Teabags have fought back! Humans have been ens...,"[Teabags, have, fought, back, !, Humans, have,...","[Teabags have fought back!, Humans have been e...","[teabags, have, fought, back, !, human, have, ...",1
2,Why didn't the chicken cross the road ??? . ...,"[Why, did, n't, the, chicken, cross, the, road...","[Why didn't the chicken cross the road ???, .,...","[why, did, n't, the, chicken, cross, the, road...",1
3,"What starts with E, ends with E, and has only ...","[What, starts, with, E, ,, ends, with, E, ,, a...","[What starts with E, ends with E, and has only...","[what, start, with, e, ,, end, with, e, ,, and...",1
4,Teabags have fought back! Humans have been ens...,"[Teabags, have, fought, back, !, Humans, have,...","[Teabags have fought back!, Humans have been e...","[teabags, have, fought, back, !, human, have, ...",1

In [14]:
datas = {}
stop_words = stopwords.words('english')
lemmatizer = WordNetLemmatizer()
stop_words.extend(["...", "'s", "wo", "n't", "'m", "ca", "'ll", "'re", "'ve", "'d", "ha", "Â´Â´", "Â´", "Â´Â´Â´", ",", "!", "?", "'", ":", ";", '"', "\\", "``"])

all_lem_data = []
for name, data, n in zip(['qa', 'jokes'], [qa, question_jokes], [100000, 100000]):
    print(name, end="\n")
    lemmatized_data = []
    for i, row in data.iterrows():
        if i == n:
            break
        if i % 10000 == 0:
            print(i)
        '''text = row["text"]
        for ajaleht in ajalehed:
            text = re.sub(ajaleht, "", text)
        
        words = word_tokenize(text)'''
        
        words = row['word_tokenize']
        lemmas = []

        for word in words:
            lemma = lemmatizer.lemmatize(word)
            if len(lemma) > 1 and not lemma in stop_words:
                lemmas.append(lemma.lower())
                
        lemmatized_row = {'id': f"{name}_{i}",'text': " ".join(lemmas), 'joke': 1 if name == 'jokes' else 0}
        lemmatized_data.append(lemmatized_row)
        all_lem_data.append(lemmatized_row)
    
    datas[name] = pd.DataFrame(lemmatized_data)

qa
0
10000
20000
30000
40000
50000
60000
70000
80000
90000
jokes
0
10000
20000
30000
40000
50000
60000
70000
80000
90000

In [9]:
stopwords = stopwords.words('english')
stopwords.extend(["...", "'s", "wo", "n't", "'m", "ca", "'ll", "'re", "'ve", "'d", "ha", "Â´Â´", "Â´", "Â´Â´Â´", ",", "!", "'", ":", ";", '"', "\\", "``"])
stopwords.extend(["wa", "''", "the", "he", "my", "it"])

data_for_df = []

#jokes = list(datas['jokes'].text)
#ids = list(datas['jokes'].id)
jokes_lemmas = question_jokes['lemmatize']

for i, joke in enumerate(jokes_lemmas):
    #joke_words = joke.split(" ")
    joke_words = [word for word in joke if word not in stopwords and word.isalpha()]
    joke_text = " ".join(joke_words)
    #data_for_df.append({'id': ids[i], 'text': joke_text, 'joke': 1})
    data_for_df.append({'text': joke_text, 'joke': 1})
    
#qa = list(datas['qa'].text)
#qa_ids = list(datas['qa'].id)
qa_lemmas = qa['lemmatize']

for i, q in enumerate(qa_lemmas):
    #qa_words = q.split(" ")
    qa_words = [word for word in q if word not in stopwords and word.isalpha()]
    qa_text = " ".join(qa_words)
    #data_for_df.append({'id': qa_ids[i], 'text': qa_text, 'joke': 0})
    data_for_df.append({'text': qa_text, 'joke': 0})

In [10]:
df = pd.DataFrame(data_for_df)

In [11]:
df

                                                     text  joke
0       say veteran prostitute night together thank ce...     1
1       teabags fought back human enslaved civilizatio...     1
2                             chicken cross road kfc side     1
3                           start e end e letter envelope     1
4       teabags fought back human enslaved civilizatio...     1
...                                                   ...   ...
720261  channel audience network comcast directv nbc s...     0
720262  doe crisis shakespearean romance occur shakesp...     0
720263  play henry mill upon time henry daniel mill fi...     0
720264  name body orbit around sun small solar system ...     0
720265  played blind girl fantastic four alicia blind ...     0

[720266 rows x 2 columns]

In [43]:
df = df.drop_duplicates('text')

In [44]:
df.shape

(665660, 2)

### MultinomialNB
Shallow model as a base to see how it works and which features are more important for predictions. It is easier to obtain from this information from a shallow model rather than a neural network, so this was used to gain some insight.

In [12]:
from sklearn.naive_bayes import MultinomialNB

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical

Using TensorFlow backend.

In [14]:
from sklearn.model_selection import train_test_split

In [45]:
jokes_subdf = df[df['joke'] == 1].head(25000)
qa_subdf = df[df['joke'] == 0].head(25000)

smaller_df = pd.concat([jokes_subdf, qa_subdf])

In [46]:
smaller_df

                                                     text  joke
0       say veteran prostitute night together thank ce...     1
1       teabags fought back human enslaved civilizatio...     1
2                             chicken cross road kfc side     1
3                           start e end e letter envelope     1
4       teabags fought back human enslaved civilizatio...     1
...                                                   ...   ...
437901  film america got talent following america got ...     0
437902  many season schitts creek schitt creek genre s...     0
437903  place world michael w smith gospel music hall ...     0
437904  eurovision song contest winner contest ukraine...     0
437905  country southern tip africa urban food securit...     0

[50000 rows x 2 columns]

In [47]:
X_train, X_test, y_train, y_test = train_test_split(smaller_df['text'], smaller_df['joke'], test_size=0.2, stratify=smaller_df['joke'])

In [48]:
y_test.value_counts()

1    5000
0    5000
Name: joke, dtype: int64

In [49]:
vectorizer = TfidfVectorizer()
X_train_vect = vectorizer.fit_transform(X_train)
X_test_vect = vectorizer.transform(X_test)

#### Jokes as the positive class

In [50]:
mnb = MultinomialNB()

In [51]:
mnb.fit(X_train_vect, y_train)

MultinomialNB()

In [52]:
results = mnb.predict(X_test_vect)

In [53]:
sum(results == y_test) / len(y_test)

0.9535

In [54]:
mnb.coef_

array([[-11.46416109, -11.94034073, -11.12011294, ..., -11.66017755,
        -11.66017755, -11.66017755]])

In [55]:
# this code is from: https://stackoverflow.com/questions/29867367/sklearn-multinomial-nb-most-informative-features

def show_most_informative_features(vectorizer, clf, n=20):
    feature_names = vectorizer.get_feature_names()
    coefs_with_fns = sorted(zip(clf.coef_[0], feature_names))
    top = zip(coefs_with_fns[:n], coefs_with_fns[:-(n + 1):-1])
    for (coef_1, fn_1), (coef_2, fn_2) in top:
        #print (round(coef_1, 2), fn_1, "\t\t", round(coef_2, 2), fn_2)
        print (round(coef_2, 2), fn_2)

In [56]:
show_most_informative_features(vectorizer, mnb)

-5.72 say
-5.81 call
-6.03 man
-6.07 get
-6.28 doe
-6.28 know
-6.29 one
-6.42 said
-6.48 go
-6.49 joke
-6.5 guy
-6.57 like
-6.77 woman
-6.78 wife
-6.78 asks
-6.79 asked
-6.83 hear
-6.84 people
-6.85 see
-6.86 trump

In [57]:
len(mnb.coef_[0])

88485

In [58]:
X_test_vect.shape

(10000, 88485)

#### Non-jokes as the positive class

In [59]:
mnb = MultinomialNB()
mnb.fit(X_train_vect, [abs(val-1) for val in y_train.values])

MultinomialNB()

In [60]:
results = mnb.predict(X_test_vect)

In [61]:
sum(results == [abs(val-1) for val in y_test.values]) / len(y_test)

0.9537

In [62]:
show_most_informative_features(vectorizer, mnb)

-6.44 state
-6.53 season
-6.65 song
-6.65 first
-6.79 united
-6.86 film
-6.86 new
-6.89 series
-6.9 episode
-6.95 year
-6.95 world
-7.02 american
-7.02 also
-7.06 time
-7.08 one
-7.13 may
-7.13 doe
-7.22 war
-7.23 game
-7.29 two

### Recurrent Neural Network

In [63]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical

In [65]:
num_words = 15000
maxlen = 500

tokenizer = Tokenizer(num_words=num_words)
tokenizer.fit_on_texts(X_train)

tokenized_X_train = tokenizer.texts_to_sequences(X_train)
tokenized_X_test = tokenizer.texts_to_sequences(X_test)

X_train_pad = pad_sequences(tokenized_X_train, maxlen=maxlen)
X_test_pad = pad_sequences(tokenized_X_test, maxlen=X_train_pad.shape[1])

In [66]:
y_train_vec = to_categorical(y_train)
y_test_vec = to_categorical(y_test)

In [67]:
print(X_train_pad.shape, X_test_pad.shape)

(40000, 500) (10000, 500)

In [68]:
model = keras.Sequential()
model.add(layers.Embedding(input_dim=num_words, input_length=X_train_pad.shape[1], output_dim=64))
model.add(layers.LSTM(35))
model.add(layers.Dense(2, activation='softmax'))
model.summary()
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 500, 64)           960000
_________________________________________________________________
lstm_1 (LSTM)                (None, 35)                14000
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 72
=================================================================
Total params: 974,072
Trainable params: 974,072
Non-trainable params: 0
_________________________________________________________________

#### Initially training on a smaller subset of data to see how it works

In [69]:
model.fit(X_train_pad, y_train_vec, validation_data=(X_test_pad, y_test_vec), epochs=3, verbose=1, batch_size=256)

Train on 40000 samples, validate on 10000 samples
Epoch 1/3
40000/40000 [==============================] - 342s 9ms/sample - loss: 0.2049 - accuracy: 0.9111 - val_loss: 0.0760 - val_accuracy: 0.9739
Epoch 2/3
40000/40000 [==============================] - 346s 9ms/sample - loss: 0.0436 - accuracy: 0.9864 - val_loss: 0.0721 - val_accuracy: 0.9762
Epoch 3/3
40000/40000 [==============================] - 389s 10ms/sample - loss: 0.0220 - accuracy: 0.9937 - val_loss: 0.0779 - val_accuracy: 0.9760

In [70]:
test_jokes_subdf = df[df['joke'] == 1].tail(5000)
test_qa_subdf = df[df['joke'] == 0].tail(5000)
test_smaller_df = pd.concat([test_jokes_subdf, test_qa_subdf])

In [71]:
tokenized_test_X = tokenizer.texts_to_sequences(test_smaller_df['text'])
test_X_pad = pad_sequences(tokenized_test_X, maxlen=X_train_pad.shape[1])

In [72]:
predictions_probs = model.predict(test_X_pad)
predictions = [np.argmax(prob) for prob in predictions_probs]

In [75]:
sum(predictions == test_smaller_df['joke']) / len(predictions) * 100

97.91