In [1]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('stopwords')
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Birgit\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
qa = pd.read_json("data/tokenized_qa.json.xz")
jokes = pd.read_json("data/tokenized_jokes.json.xz")

In [7]:
qa

,text,word_tokenize,sent_tokenize
0,which is the most common use of opt-in e-mail ...,"[which, is, the, most, common, use, of, opt-in...",[which is the most common use of opt-in e-mail...
1,how i.met your mother who is the mother Tracy ...,"[how, i.met, your, mother, who, is, the, mothe...",[how i.met your mother who is the mother Tracy...
2,what type of fertilisation takes place in huma...,"[what, type, of, fertilisation, takes, place, ...",[what type of fertilisation takes place in hum...
3,who had the most wins in the nfl Active quarte...,"[who, had, the, most, wins, in, the, nfl, Acti...",[who had the most wins in the nfl Active quart...
4,what happened to the lost settlement of roanok...,"[what, happened, to, the, lost, settlement, of...",[what happened to the lost settlement of roano...
...,...,...,...
307368,who have been the hosts of the price is right ...,"[who, have, been, the, hosts, of, the, price, ...",[who have been the hosts of the price is right...
307369,who sang the song mama told me not to come The...,"[who, sang, the, song, mama, told, me, not, to...",[who sang the song mama told me not to come Th...
307370,who plays grey worm on game of thrones Jacob B...,"[who, plays, grey, worm, on, game, of, thrones...",[who plays grey worm on game of thrones Jacob ...
307371,working principle of high pressure sodium vapo...,"[working, principle, of, high, pressure, sodiu...",[working principle of high pressure sodium vap...
307372,what is the latest red hat linux version Red H...,"[what, is, the, latest, red, hat, linux, versi...",[what is the latest red hat linux version Red ...

In [4]:
jokes

,joke,word_tokenize,sent_tokenize
0,"I'm on a seafood diet... I see food, and if it...","[I, 'm, on, a, seafood, diet, ..., I, see, foo...","[I'm on a seafood diet..., I see food, and if ..."
1,The shoe store... An Al Bundy one-liner:\n\nA ...,"[The, shoe, store, ..., An, Al, Bundy, one-lin...",[The shoe store... An Al Bundy one-liner:\n\nA...
2,What do you say to a veteran prostitute after ...,"[What, do, you, say, to, a, veteran, prostitut...",[What do you say to a veteran prostitute after...
3,Confused man sees a psychiatrist A man goes to...,"[Confused, man, sees, a, psychiatrist, A, man,...",[Confused man sees a psychiatrist A man goes t...
4,Teabags have fought back! Humans have been ens...,"[Teabags, have, fought, back, !, Humans, have,...","[Teabags have fought back!, Humans have been e..."
...,...,...,...
962882,"At 12:01 after midnight, on a cloudy evening, ...","[At, 12:01, after, midnight, ,, on, a, cloudy,...","[At 12:01 after midnight, on a cloudy evening,..."
962883,Two Gay guys are lying on their bed... Two gay...,"[Two, Gay, guys, are, lying, on, their, bed, ....",[Two Gay guys are lying on their bed... Two ga...
962884,What do scientists use to measure a chicken's ...,"[What, do, scientists, use, to, measure, a, ch...",[What do scientists use to measure a chicken's...
962885,What is the only thing a woman can say that wi...,"[What, is, the, only, thing, a, woman, can, sa...",[What is the only thing a woman can say that w...
962886,I hope you're all getting your Walter Cronkite...,"[I, hope, you, 're, all, getting, your, Walter...",[I hope you're all getting your Walter Cronkit...

In [8]:
new_jokes = {}

for i, row in jokes.iterrows():
    joke = row['joke']
    if "?" in joke:
        new_jokes[i] = {'text': joke, 'word_tokenize': row['word_tokenize'], 'sent_tokenize': row['sent_tokenize']}

In [9]:
question_jokes = pd.DataFrame(new_jokes).T

In [10]:
question_jokes.head()

,text,word_tokenize,sent_tokenize
2,What do you say to a veteran prostitute after ...,"[What, do, you, say, to, a, veteran, prostitut...",[What do you say to a veteran prostitute after...
4,Teabags have fought back! Humans have been ens...,"[Teabags, have, fought, back, !, Humans, have,...","[Teabags have fought back!, Humans have been e..."
5,Why didn't the chicken cross the road ??? . ...,"[Why, did, n't, the, chicken, cross, the, road...","[Why didn't the chicken cross the road ???, .,..."
6,"What starts with E, ends with E, and has only ...","[What, starts, with, E, ,, ends, with, E, ,, a...","[What starts with E, ends with E, and has only..."
7,Teabags have fought back! Humans have been ens...,"[Teabags, have, fought, back, !, Humans, have,...","[Teabags have fought back!, Humans have been e..."

In [11]:
question_jokes.shape

(518458, 3)

In [12]:
question_jokes.index = list(range(question_jokes.shape[0]))

In [13]:
question_jokes.head()

,text,word_tokenize,sent_tokenize
0,What do you say to a veteran prostitute after ...,"[What, do, you, say, to, a, veteran, prostitut...",[What do you say to a veteran prostitute after...
1,Teabags have fought back! Humans have been ens...,"[Teabags, have, fought, back, !, Humans, have,...","[Teabags have fought back!, Humans have been e..."
2,Why didn't the chicken cross the road ??? . ...,"[Why, did, n't, the, chicken, cross, the, road...","[Why didn't the chicken cross the road ???, .,..."
3,"What starts with E, ends with E, and has only ...","[What, starts, with, E, ,, ends, with, E, ,, a...","[What starts with E, ends with E, and has only..."
4,Teabags have fought back! Humans have been ens...,"[Teabags, have, fought, back, !, Humans, have,...","[Teabags have fought back!, Humans have been e..."

In [14]:
datas = {}
stop_words = stopwords.words('english')
lemmatizer = WordNetLemmatizer()
stop_words.extend(["...", "'s", "wo", "n't", "'m", "ca", "'ll", "'re", "'ve", "'d", "ha", "´´", "´", "´´´", ",", "!", "?", "'", ":", ";", '"', "\\", "``"])

all_lem_data = []
for name, data, n in zip(['qa', 'jokes'], [qa, question_jokes], [100000, 100000]):
    print(name, end="\n")
    lemmatized_data = []
    for i, row in data.iterrows():
        if i == n:
            break
        if i % 10000 == 0:
            print(i)
        '''text = row["text"]
        for ajaleht in ajalehed:
            text = re.sub(ajaleht, "", text)
        
        words = word_tokenize(text)'''
        
        words = row['word_tokenize']
        lemmas = []

        for word in words:
            lemma = lemmatizer.lemmatize(word)
            if len(lemma) > 1 and not lemma in stop_words:
                lemmas.append(lemma.lower())
                
        lemmatized_row = {'id': f"{name}_{i}",'text': " ".join(lemmas), 'joke': 1 if name == 'jokes' else 0}
        lemmatized_data.append(lemmatized_row)
        all_lem_data.append(lemmatized_row)
    
    datas[name] = pd.DataFrame(lemmatized_data)

qa
0
10000
20000
30000
40000
50000
60000
70000
80000
90000
jokes
0
10000
20000
30000
40000
50000
60000
70000
80000
90000

In [15]:
stopwords = ["wa", "''", "the", "he", "my", "it"]

data_for_df = []

jokes = list(datas['jokes'].text)
ids = list(datas['jokes'].id)

for i, joke in enumerate(jokes):
    joke_words = joke.split(" ")
    joke_words = [word for word in joke_words if word not in stopwords and word.isalpha()]
    joke_text = " ".join(joke_words)
    data_for_df.append({'id': ids[i], 'text': joke_text, 'joke': 1})
    
qa = list(datas['qa'].text)
qa_ids = list(datas['qa'].id)

for i, q in enumerate(qa):
    qa_words = q.split(" ")
    qa_words = [word for word in qa_words if word not in stopwords and word.isalpha()]
    qa_text = " ".join(qa_words)
    data_for_df.append({'id': qa_ids[i], 'text': qa_text, 'joke': 0})

In [16]:
df = pd.DataFrame(data_for_df)

In [17]:
df

              id                                               text  joke
0        jokes_0  what say veteran prostitute night together tha...     1
1        jokes_1  teabags fought back humans enslaved civilizati...     1
2        jokes_2                    why chicken cross road kfc side     1
3        jokes_3                     what start end letter envelope     1
4        jokes_4  teabags fought back humans enslaved civilizati...     1
...          ...                                                ...   ...
199995  qa_99995  channel audience network comcast directv nbc s...     0
199996  qa_99996  doe crisis shakespearean romance occur shakesp...     0
199997  qa_99997  play henry mill upon time henry daniel mills f...     0
199998  qa_99998  name body orbit around sun small solar system ...     0
199999  qa_99999  played blind girl fantastic four alicia blind ...     0

[200000 rows x 3 columns]

### MultinomialNB
Tee baasiks lihtne mudel, et selle põhjal (feature weights?) vaadata, mille järgi mudel ennustab, mis on nali, mis ei ole.

In [39]:
from sklearn.naive_bayes import MultinomialNB

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
jokes_subdf = df[df['joke'] == 1].head(25000)
qa_subdf = df[df['joke'] == 0].head(25000)

smaller_df = pd.concat([jokes_subdf, qa_subdf])

In [21]:
smaller_df

              id                                               text  joke
0        jokes_0  what say veteran prostitute night together tha...     1
1        jokes_1  teabags fought back humans enslaved civilizati...     1
2        jokes_2                    why chicken cross road kfc side     1
3        jokes_3                     what start end letter envelope     1
4        jokes_4  teabags fought back humans enslaved civilizati...     1
...          ...                                                ...   ...
124995  qa_24995  michael jordan point game points game overtime...     0
124996  qa_24996  sang highest number song india playback singer...     0
124997  qa_24997  doe new raven home come pilot series announced...     0
124998  qa_24998  got evicted tonight big brother on finale nigh...     0
124999  qa_24999  movie ghost mississippi filmed medgar evers bl...     0

[50000 rows x 3 columns]

In [22]:
X_train, X_test, y_train, y_test = train_test_split(smaller_df['text'], smaller_df['joke'], test_size=0.2, stratify=smaller_df['joke'])

In [23]:
y_test.value_counts()

1    5000
0    5000
Name: joke, dtype: int64

In [48]:
vectorizer = TfidfVectorizer()
X_train_vect = vectorizer.fit_transform(X_train)
X_test_vect = vectorizer.transform(X_test)

Jokes as positive class

In [49]:
mnb = MultinomialNB()

In [50]:
mnb.fit(X_train_vect, y_train)

MultinomialNB()

In [52]:
results = mnb.predict(X_test_vect)

In [53]:
sum(results == y_test) / len(y_test)

0.9747

In [65]:
mnb.coef_

array([[-11.74403441, -12.17341482, -12.18063643, ..., -11.96578671,
        -11.96578671, -11.87784092]])

In [85]:
# this code is from: https://stackoverflow.com/questions/29867367/sklearn-multinomial-nb-most-informative-features

def show_most_informative_features(vectorizer, clf, n=20):
    feature_names = vectorizer.get_feature_names()
    coefs_with_fns = sorted(zip(clf.coef_[0], feature_names))
    top = zip(coefs_with_fns[:n], coefs_with_fns[:-(n + 1):-1])
    for (coef_1, fn_1), (coef_2, fn_2) in top:
        #print (round(coef_1, 2), fn_1, "\t\t", round(coef_2, 2), fn_2)
        print (round(coef_2, 2), fn_2)

In [75]:
show_most_informative_features(vectorizer, mnb)

-5.19 what
-5.81 why
-5.96 say
-6.07 call
-6.26 how
-6.27 man
-6.33 because
-6.34 get
-6.55 know
-6.57 doe
-6.58 one
-6.69 said
-6.74 you
-6.75 go
-6.77 guy
-6.78 joke
-6.83 they
-6.85 like
-7.03 asks
-7.05 wife

In [71]:
len(mnb.coef_[0])

125333

Non-joke as positive class

In [79]:
mnb = MultinomialNB()
mnb.fit(X_train_vect, [abs(val-1) for val in y_train.values])

MultinomialNB()

In [80]:
results = mnb.predict(X_test_vect)

In [81]:
sum(results == [abs(val-1) for val in y_test.values]) / len(y_test)

0.9748

In [88]:
show_most_informative_features(vectorizer, mnb)

-6.86 song
-6.86 first
-6.87 season
-6.91 in
-6.95 united
-7.0 new
-7.08 film
-7.1 state
-7.11 series
-7.13 also
-7.16 year
-7.2 one
-7.21 world
-7.24 states
-7.24 may
-7.25 time
-7.26 episode
-7.29 american
-7.43 doe
-7.44 game

### Recurrent Neural Network

In [18]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical

Using TensorFlow backend.

In [34]:
num_words = 15000
maxlen = 500

tokenizer = Tokenizer(num_words=num_words)
tokenizer.fit_on_texts(X_train)

tokenized_X_train = tokenizer.texts_to_sequences(X_train)
tokenized_X_test = tokenizer.texts_to_sequences(X_test)

X_train_pad = pad_sequences(tokenized_X_train, maxlen=maxlen)
X_test_pad = pad_sequences(tokenized_X_test, maxlen=X_train_pad.shape[1])

In [35]:
y_train_vec = to_categorical(y_train)
y_test_vec = to_categorical(y_test)

In [36]:
print(X_train_pad.shape, X_test_pad.shape)

(40000, 500) (10000, 500)

In [37]:
model = keras.Sequential()
model.add(layers.Embedding(input_dim=num_words, input_length=X_train_pad.shape[1], output_dim=64))
model.add(layers.LSTM(35))
model.add(layers.Dense(2, activation='softmax'))
model.summary()
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 500, 64)           960000
_________________________________________________________________
lstm_2 (LSTM)                (None, 35)                14000
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 72
=================================================================
Total params: 974,072
Trainable params: 974,072
Non-trainable params: 0
_________________________________________________________________

In [38]:
model.fit(X_train_pad, y_train_vec, validation_data=(X_test_pad, y_test_vec), epochs=3, verbose=1, batch_size=256)

Train on 40000 samples, validate on 10000 samples
Epoch 1/3
40000/40000 [==============================] - 267s 7ms/sample - loss: 0.1754 - accuracy: 0.9447 - val_loss: 0.0476 - val_accuracy: 0.9850
Epoch 2/3
40000/40000 [==============================] - 295s 7ms/sample - loss: 0.0249 - accuracy: 0.9934 - val_loss: 0.0419 - val_accuracy: 0.9875
Epoch 3/3
40000/40000 [==============================] - 282s 7ms/sample - loss: 0.0142 - accuracy: 0.9966 - val_loss: 0.0446 - val_accuracy: 0.9857